<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        var userAgent = navigator.userAgent;
        var userAgentSplit = userAgent.split('XMage/');
        var xmageVersion = 'unknown';
        if (userAgentSplit.length > 1) {
            xmageVersion = userAgentSplit[1];
        }
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}', {
           'custom_map': {
                'dimension1': 'xmage-version'
           }
        });
        gtag('event', 'version', {'xmage-version': xmageVersion});
    </script>
    {% endif %}
    <script src="assets/scripts/jquery-3.3.1.min.js"></script>
    <script>

    function loadTaskStatus(issueId) {
        $.getJSON("https://api.github.com/repos/magefree/mage/issues/" + issueId)
          .done(function(data) {
            var items = [];
            var b = data["body"];
            var doneCount = b.split(/\[x\]/).length - 1;
            var notDoneCount = b.split(/\[ \]/).length - 1;
            var totalCount = doneCount + notDoneCount;
            if (totalCount > 0) {
              $("#task-" + issueId + " .progress-bar").text(doneCount + " of " + totalCount);
              $("#task-" + issueId + " .progress-bar").css('width', Math.floor(doneCount / totalCount * 100) + '%');
              $("#task-" + issueId + ".tasks-status").show();
            }
          })
          .fail(function(error) {
            $("#task-" + issueId + ".tasks-status").hide();
          });
    }

    $(document).ready(function() {
      // replace all github issue numbers to links
      $("body").html($("body").html().replace(/\#(\d+)/gm, '<a href="https://github.com/magefree/mage/issues/$1">#$1</a>'));

      // load progress bars
      loadTaskStatus(13364);
      loadTaskStatus(13362);
    });
    </script>
    <meta charset="UTF-8">

    {% if page.title %}
    {% assign page-title = page.title | escape %}
    {% else %}
    {% assign page-title = site.title | escape %}
    {% endif %}
    <title>{{ page-title }}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
    <meta name="robots" content="noarchive">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>

<section class="page-header-thinner" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <!-- sad &#128546; -->
    <!-- geek &#129299; -->
    <!-- love &#128525; -->
    <a href="https://github.com/magefree/mage/issues" class="btn"><!--<img class="emoji" src="assets/images/sad.png"> -->Give feedback at github</a>
    <a href="https://xmage.today/" class="btn"><!--<img class="emoji" src="assets/images/geek.png"> -->Download official client</a>
    <a href="https://xmage.today/#donate" class="btn"><!--<img class="emoji" src="assets/images/love.png">-->Donate by Patreon <img class="emoji" src="assets/images/patreon.png"></a>
    <!-- <a href="https://xmage.today/#donate" class="btn">Donate by <img class="emoji" src="assets/images/paypal.png"></a> -->
</section>

<section class="main-content">
    <div class="tasks">
        <ul id="task-13375" class="tasks-status" style="display:none">
            <span>FIN - Final Fantasy (<a href="https://github.com/magefree/mage/issues/13364">github</a>):</span>
            <div class="progress-with-border">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Loading...</div>
            </div>
        </ul>
        <ul id="task-13376" class="tasks-status" style="display:none">
            <span>FIC - Final Fantasy: Commander (<a href="https://github.com/magefree/mage/issues/13362">github</a>):</span>
            <div class="progress-with-border">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Loading...</div>
            </div>
        </ul>
    </div>

    {{ content }}
</section>

</body>
</html>