---
layout: news_basic
---

<div>

  {{ content }}

  <!-- <h2>Latest updates</h2>-->
  <!-- <div>&nbsp;</div>-->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <div class="post-header">{{ post.title | escape }}</div>
        </h2>

        <span>{{ post.content | markdownify}}</span>

      </li>
    {% endfor %}
  </ul>

</div>
